* {
    margin: 0;
    padding: 0;
    color: #f5f5f5;
}


body {
    height: 100%;
    width: 100%;
}

.header_container {
    width: 100%;
    background: linear-gradient(180deg, #e2f1da 0%, #d4fbf7 100%);
    display: flex;
    align-items: center;
}

    .header_container h1 {
        color: #6a6b70;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 600;
        text-align: left;
        font-size: 70px;
        line-height: 88px;
        margin: 0 auto;
        width: 528px;
        height: 176px;
    }
.header_container {
    margin: 0 auto;
}

.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}
.choose {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 30px;
}

.main_container p1 {
    height: 56px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 56px;
    color: #6A6B70;
}

.main_container p2 {
    margin-top: 80px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: #6A6B70;
}

.main_container hr {
    width: 100%;
    height: 0px;
    opacity: 0.5;
    /* black */

    border: 1px solid #6A6B70;
}

.card {
    float: left;
    position: relative;
    width: 30%;
}

.card_image {
    margin: 0 auto;
    top: 0;
    left: 0;
    max-height: 216px;
    max-width: 350px;
    background: #DBF3EB;
    border-radius: 10px 10px 0px 0px;
    padding: 34px 101px;
}

    .card_image img {
        margin: 0 auto;
        top: 0;
        left: 0;

    }

.links {
    margin: 0 auto;
    top: 0;
    left: 0;
    padding: 25px 25px 35px;
    max-height: 174px;
    background: #F0F6F4;
    border-radius: 0px 0px 10px 10px;
}


    .links h3 {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-size: 26px;
        line-height: 125%;
        color: #6A6B70;
    }

    .links a {
        height: 18px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 110%;
        color: #4F6ACC;
    }


footer {
    width: 100%;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #6a6b70;
    padding: 3rem 0;
    text-align: center;
    background: linear-gradient(180deg, #e2f1da 0%, #d4fbf7 100%);
}
.footer_container h4 {

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;

    text-align: center;
    color: #6A6B70;
}